#forecast-screen {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#title {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}
