#home-screen {
  border: 1px solid black;
}

#location-form {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#title {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

#latitude {
  font-size: large;
}

#longitude {
  font-size: large;
}

#accuracy {
  font-size: large;
}

#loading {
  font-size: small;
}
