<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geolocation Finder</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="container">
        <h1 id="title">Geolocation</h1>
        <div id="home-screen">
            <form id="location-form">
                <div>
                    <p id="latitude"><b>Latitude:</b></p>
                    <p id="longitude"><b>Longitude:</b></p>
                    <p id="accuracy">Accuracy:</p>
                    <p id="json">Temperature at your location in degrees Fahrenheit:</p>
                </div>
                <p id="loading">Loading ...</p>
                <button id="refresh-button" class="btn btn-primary">Refresh</button>
            </form>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>