<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherIT</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="container">
        <h1 id="title">WeatherIT Forecast Finder</h1>
        <div id="forecast-screen">
            <form>
                <label for="types">Search By:</label>
				<select class="form-control" name="types" id="types">
					<option selected value="zipcode">ZIP Code</option>
  					<option value="geolocation">Current Location</option>
  					<option value="city">City Name</option>
				</select><br>
				<label for="location-input" id="location-input-display">ZIP Code:</label>
				<div class="input-group mb-3">
            		<input class="form-control" type="text" id="location-input" name="location-input"><br>
  					<div class="input-group-append">
    					<button id="search-button" class="btn btn-primary">Search</button>
  					</div>
				</div>
				<p id="status"></p>
            </form>
        	<h2 id="location"></h2>
        	<ul id="forecast" class="list-group list-group-horizontal">
  			</ul>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>